/*
 Theme Name:   Twenty Fourteen Mod for http://christoph-conrads.name
 Theme URI:    http://example.com/twenty-fourteen-child/
 Description:  Twenty Fourteen w/o hyphenation, higher max-width, no uppercase titles, custom tag cloud, no search, no shortlinks, centered text
 Author:       Christoph Conrads
 Author URI:   http://christoph-conrads.name
 Template:     twentyfourteen
 Version:      1.0.8
 License:      GNU General Public License v3
 License URI:  http://www.gnu.org/licenses/gpl-3.0.html
 Tags:
 Text Domain:  twenty-fourteen-ccmod
*/


/*
 * center text on wide browser windows
 */
.site {
	margin: 0 auto;
}



/*
 * disable hyphenation
 */
.entry-content,
.entry-summary,
 .page-content
{
	word-wrap: normal;
	-webkit-hyphens: none;
	-moz-hyphens: none;
	-ms-hyphens: none;
	hyphens: none;
}

.widget
{
	word-wrap: normal;
	-webkit-hyphens: none;
	-moz-hyphens: none;
	-ms-hyphens: none;
	hyphens: none;
}



/* allow larger text width */
.site-content .entry-header,
.site-content .entry-content,
.site-content .entry-summary,
.site-content .entry-meta,
.page-content {
	max-width: 600px;
}

.post-navigation, .image-navigation
{
	max-width: 600px;
}

.archive-header, .page-header
{
	max-width: 600px;
}

.contributor-info
{
	max-width: 600px;
}



/*
 * do not uppercase post titles
 */
.entry-title
{
	text-transform: none;
}



/*
 * disable search button in main menu
 */
.search-toggle, #search-container {
	display: none;
}
